{% extends "base.html" %}

{% block content %}

<h2>My Complaints</h2>

<table class="table">
    <tr>
        <th>ID</th>
        <th>Subject</th>
        <th>Description</th>
        <th>Status</th>
        <th>Response</th>
    </tr>
    {% for c in complaints %}
    <tr>
        <td>{{ c.id }}</td>
        <td>{{ c.subject }}</td>
        <td>{{ c.description }}</td>
        <td>{{ c.status }}</td>
        <td>{{ c.response or 'N/A' }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}