<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hotel Management System</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='css/style.css') }}">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
          rel="stylesheet">
</head>

<body>

<nav class="navbar navbar-dark bg-dark navbar-expand-lg">
    <div class="container-fluid">

        <a class="navbar-brand" href="#">Hotel System</a>

        <ul class="navbar-nav ms-auto">

            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
            </li>

        </ul>

    </div>
</nav>


<div class="container mt-4">

    {% block content %}
    {% endblock %}

</div>


</body>
</html>