<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Management System</title>

    <link rel="stylesheet" href="style.css">to

</head>
<body>
    <h1>
        Hotel Management System
    </h1>

    <form action="" method="post">
        <input type="text" placeholder="Username">
        <input type="password" placeholder="Password">
        <button>Login</button>
    </form>

</body>
</html>